[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-recording = "*"
vcrpy = "*"
aiohttp = "*"
jupyter = "*"
setuptools = "*"
wheel = "*"
twine = "*"
dash = "*"
dash-bootstrap-components = "*"

[packages]
gql = "*"
requests = "*"
influxdb-client = "*"
pandas = "*"
requests-toolbelt = "*"
plotly = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
ipywidgets = "*"
loguru = "*"

[requires]
python_version = "3"

[scripts]
test = "pytest"
