[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
graphene = "*"
requests = "*"
influxdb-client = "*"
pandas = "*"
graphqlclient = "*"

[requires]
python_version = "3"
[scripts]
test = "pytest"
