interactions:
- request:
    body: '{"query": "{\n  characters {\n    results {\n      name\n    }\n  }\n}"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://rickandmortyapi.com/graphql
  response:
    body:
      string: '{"data":{"characters":{"results":[{"name":"Rick Sanchez"},{"name":"Morty
        Smith"},{"name":"Summer Smith"},{"name":"Beth Smith"},{"name":"Jerry Smith"},{"name":"Abadango
        Cluster Princess"},{"name":"Abradolf Lincler"},{"name":"Adjudicator Rick"},{"name":"Agency
        Director"},{"name":"Alan Rails"},{"name":"Albert Einstein"},{"name":"Alexander"},{"name":"Alien
        Googah"},{"name":"Alien Morty"},{"name":"Alien Rick"},{"name":"Amish Cyborg"},{"name":"Annie"},{"name":"Antenna
        Morty"},{"name":"Antenna Rick"},{"name":"Ants in my Eyes Johnson"}]}}}'
    headers:
      Cache-Status:
      - '"Netlify Edge"; fwd=method'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cc-gKjEE6zyOra3PVSH3Ih9WU/pna4"
      Gcdn-Cache:
      - HIT
      Netlify-Vary:
      - query
      Stellate-Query-Hash:
      - '4339292150631261'
      X-Nf-Request-Id:
      - 01J0GF0FFBY5HP28YA2G1VKXDG
    status:
      code: 200
      message: OK
version: 1
