interactions:
- request:
    body: '{"query": "{\n  allTelemetryGames(first: 10) {\n    nodes {\n      name\n    }\n  }\n}"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://telemetry.b4mad.racing:30050/graphql
  response:
    body:
      string: '{"data":{"allTelemetryGames":{"nodes":[{"name":"iRacing"},{"name":"RaceRoom"},{"name":"Assetto
        Corsa Competizione"},{"name":"Assetto Corsa (64 bit)"},{"name":"Automobilista
        2"},{"name":"rFactor 2 (64 bit)"},{"name":"Automobilista"},{"name":"pCARS
        (network data)"},{"name":"Race Room"},{"name":"pCARS 2"}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
