interactions:
- request:
    body: '{"extern": {"imports": [], "body": []}, "query": "\n        from(bucket:
      \"fast_laps\")\n        |> range(start: -365d, stop: now())\n        |> filter(fn:
      (r) => r[\"_measurement\"] == \"fast_laps\")\n        |> filter(fn: (r) => r[\"SessionId\"]
      == \"1721368565\")\n        \n            |> filter(fn: (r) => r[\"SessionTypeName\"]
      == \"Race\")\n            \n        |> pivot(rowKey: [\"_time\"], columnKey:
      [\"_field\"], valueColumn: \"_value\")\n        \n        |> sort(columns: [\"_time\"],
      desc: false)\n        ", "dialect": {"header": true, "delimiter": ",", "annotations":
      ["datatype", "group", "default"], "commentPrefix": "#", "dateTimeFormat": "RFC3339"}}'
    headers:
      Authorization:
      - Token b32wB0UNl-2lL4SnuQXy_ZrFtbnay4hVDhJKz7ddQkVfbox7V94ZysXRXxYCdVsakdpsxhuCqSITFYTF5Gor4w==
      Content-Type:
      - application/json
    method: POST
    uri: https://telemetry.b4mad.racing/api/v2/query?org=b4mad
  response:
    body:
      string: "\r\n"
    headers:
      content-type:
      - text/csv; charset=utf-8
      x-influxdb-build:
      - OSS
      x-influxdb-version:
      - v2.7.1
    status:
      code: 200
      message: OK
[...]
