interactions:
- request:
    body: '{"query": "{\n  allTelemetryGames {\n    nodes {\n      name\n    }\n  }\n}"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://telemetry.b4mad.racing:30050/graphql
  response:
    body:
      string: '{"data":{"allTelemetryGames":{"nodes":[{"name":"iRacing"},{"name":"RaceRoom"},{"name":"Assetto
        Corsa Competizione"},{"name":"Assetto Corsa (64 bit)"},{"name":"Automobilista
        2"},{"name":"rFactor 2 (64 bit)"},{"name":"Automobilista"},{"name":"pCARS
        (network data)"},{"name":"Race Room"},{"name":"pCARS 2"},{"name":"rFactor"},{"name":"GTR
        2"},{"name":"pCARS (64 bit)"},{"name":"Assetto Corsa (32 bit)"},{"name":"Richard
        Burns Rally"},{"name":"pCARS 3"},{"name":"iracing"},{"name":"ams2"},{"name":"Le
        Mans Ultimate"},{"name":"Project Cars (64 bit)"}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
